.container {
    display: block;
    width: 100px;
    height: 30px;
    color: grey;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }


.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {

    box-sizing: border-box;
    width: 100px;
    background-color: #ebebeb;
    position: absolute;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;

  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: rgb(255, 44, 44);
    color: white;
  }

  .container input:not(:checked) ~ .checkmark {
    background-color: #ebebeb;
    color: rgb(0, 0, 0);
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    content: "CLOSED";

  }

/* Show the checkmark when checked */
.container input:not(:checked) ~ .checkmark:after {
    content: "OPEN";

    }


  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 0px;
    height: 0px;

  }