body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

tr {
    vertical-align: top;
}

td {
    padding-right: 15px;
    padding-top: 3px;
}

#right {
    margin-left: 45%;
    width: 55%;
    height: 100vh;   
    position: fixed;
}

#graphs {

    position: absolute;
    height: 40%;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: #f0f0f0

}

#graphs_wrap {
    height: 100%;
    width: 100%;
}

#labels_wrap {
    position: fixed;
    background-color: white;
    z-index: 5;
    margin-left: 75px;
    margin-top: 15px;
    font-size: 14px;
    width: 30%;
    padding: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.5);
}

.map {
    width: 100%;
    height:60%;
    background-color:#9ccaff;

}
#left {
    float: left;
    width: 45%;
    height: 50vh;
    box-sizing: border-box;
    color:#333333;
    padding-top: 25px;
    padding-bottom: 25px;
}

.left_box {
    padding: 25px;
    padding-right: 50px;
    padding-left: 50px;
}

#simulation {
    background-color:#f0f0f0;
}

#slider {
    margin-top: 15px;
    width: 100%;

}